/* search container and inputs */
.title-area {width: 25%; justify-content: flex-end; align-items: flex-start;}
.search-container {width: 100%;}
.search-form {width: 86%; display: flex; flex-direction: column;}
.search-container .btns {width: 11%;}
.group-menu {width: 1%;}
.search-options label {display: flex; font-size: 15px; gap: 16px; color: #444; padding: 8px 14px; }
.search-options input:focus {outline: none;}
.search-options input[type="radio"] {margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
.test {display: flex; align-items: center; justify-content: center; gap: 5px;}
.test2 {display: flex; align-items: center; justify-content: center; gap: 5px;}
/* search container and inputs */
/* table styles */
tr.bloqueado {background-color: #aaa;}
/* table styles */
/* detail style */
.smallTextArea {width: 80px; max-width: 85px;}
.tallText {width: 250px;}
.tallSecond {width: 200px;}
.tallTextFour {width: 250px; max-width: 280px;}
.detail-container {display: flex; gap: 10px; flex-wrap: wrap;}
.chunk-one,
.chunk-two,
.chunk-three,
.chunk-four,
.chunk-five {width: 40%; display: flex; gap: 10px;}
.chunk-three {width: 10%; flex-direction: column; justify-content: center;}
.first-check,
.second-check {display: flex; gap: 10px; align-items: center;}
.chunk-five {width: 50%;}
.chunk-six {width: 100%; display: flex; justify-content: center; gap: 10px; align-items: center;}
.adjustedWidth {width: 15%;}
.adjustedWidth .left,
.adjustedWidthSecond .left {width: 70%;}
.adjustedWidthSecond {width: 25%;}
.adjustedWidthFour .left {width: 50%;}
.slight {margin-right: 25px;}
.slightSecond {margin-right: 70px;}
.left {width: 20%; display: flex; flex-direction: column; gap: 20px;}
.right {width: 80%; display: flex; flex-direction: column; gap: 18px;}
.on-two {display: flex; gap: 10px;}
.checkbox {margin: 0; accent-color: #25176b; width: 14px !important; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
/* detail style */
@media (min-width: 1700px) {.search-form {flex-direction: row;} 
    .title-area {align-items: center;}
    .chunk-one,
    .chunk-four {width: 32%;}
    .adjustedWidth {width: 19%;}
    .fix {margin-left: 20px;}
}
@media (max-width: 1500px) {
  .tallTextFour {margin-left: 10px;}
  .fix {margin-left: 12px;}
  .adjustedWidth {width: 19%;}
  .adjustedWidthSecond .left {width: 65%;}
  .adjustedWidthSecond .right {width: 35%;}
  .fix2 {margin-left: 25px;}
}